/**
background color: 251E21 rgb(37,30,33)
yellow: E0A458 rgb(224,164,88)
blue: 18DCF2 rgb(24,220,242)
red: FF5A5F rgb(255,90,95)
text-color: EDF7F6 rgb(237,247,246)
*/

body {
    font-family: monospace;
    color: #EDF7F6;
    background-color: #251E21;
    font-size: 18px;
}

h2{
    text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-container > section {
  flex-basis: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}


/****************NAVBAR SECTION****************/
.nav-bar {
    display: flex;
    justify-content: space-around;
    /*border: 1px solid white;*/
}

.nav-bar a {
    text-decoration: none;
    color: #EDF7F6;
    margin: 0.5rem;
}

.nav-bar a:hover {
    color: #0CC0D4;
}

/****************BILLBOARD SECTION****************/
.billboard-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}
.billboard-container h1 {
    font-size: 36px;
}

/****************PROJECTS SECTION****************/
.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects > div {
  flex: 1 1 10em;
  margin: 3em;
}

/****************SKILLS SECTION****************/
.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills h3 {
  font-size: calc(24px + 2vw);
}

.skills > div{
  flex: 1 1 20rem;
  text-align: center;
  margin: 0.5rem;
}

/****************ABOUT ME SECtION****************/
.aboutMe {
  display: flex;
  flex-direction; rows;
  flex-wrap: wrap;
}

.aboutMe h3 {
  text-align: center;
}
.aboutMe-col-background {
  border-left: 2px solid white;
  border-right: 2px solid white;
  flex: 1 1 20rem;
  padding: 1em;
  margin: 1em;
}

.aboutMe-col-strengths {
  border-left: 2px solid white;
  border-right: 2px solid white;
  flex: 1 1 20rem;
  padding: 1em;
  margin: 1em;
}

.aboutMe-col-image {
  /*border-top: 3px solid white;
  border-bottom: 3px solid white;*/
  flex: 1 1 100%;
  text-align: center;
  margin: auto;
  border-radius: 0.5em;
}

.aboutMe-col-image img {
  max-width: auto;
  max-height: 30em;
}


/****************COLORED BOXES****************/
.yellow-box, .blue-box, .red-box {
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /*margin: 1rem 0.5rem 1rem 0.5rem;*/
}

.yellow-box {
    border: 0.15rem solid #E0A458;
}

.blue-box {
    border: 0.15rem solid #0CC0D4;
}

.red-box {
    border-left: 0.15rem solid #FF5A5F;
    border-right: 0.15rem solid #FF5A5F;
}

/****************STYLED LINES****************/
.line-sm {
    border-bottom: 2px solid #E0A458;
    width: 25vw;
    display: block;
}

.line-md {
    border-bottom: 2px solid #E0A458;
    width: 50vw;
    display: block;
}

.line-lg {
    border-bottom: 2px solid #E0A458;
    width: 100vw;
    display: block;
}

.line-fill {
    border-bottom: 2px solid #E0A458;
}
/****************COLORED TEXT****************/
.blue-text {
  color: #087E8B;
}

.red-text {
  color: #FF5A5F;
}

.yellow-text {
  color: #E0A458;
}

.yellow-link:hover {
  color: #FF5A5F;
}


/*****************************************/

.break:before {
    content: "\A";
    white-space: pre;
}

#webDeveloper {
    color: #FF5A5F;
}

.section-title {
  margin-top: 4em;
  padding-bottom: 1em;
}
